@font-face {
    font-family: "PT Sans";
    src: url(PT_Sans/PTSans-Regular.ttf)
}

html {
    font-family: "PT Sans";
}

#halo {
    margin-top: 40px;
    margin-left : 40px;
    margin-right: 40px;
}

#halo #apakabar {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form textarea {
    margin-top: 12px;
    resize: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50vw;
    height: 100px;
    border-radius: 12px;
    border: 1.5px solid black;
    font-family: "PT Sans";
}

.form .tombol_simpan {
    margin-top: 12px;
    border: 0.5px solid gray;
    border-radius: 4px;
}

.data {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.data .dataData {
    margin: 12px;
    padding: 12px;
    width: 180px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: rgb(209, 209, 209);
}

div .statusData {
    word-wrap: break-word;
}