{% load static %}

<html>
    <head>
        <meta charset = "UTF-8">
        <meta name= "viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'story7.css' %}">
        <title>Story 7</title>
    </head>

    <body>
        <div id="container">
            <div id="navigation">
                <p>Darkmode</p>     
                <label class="switch">
                    <input class ="toggle" type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>

            <div id="sambutan">
                <p>Halo! Apa kabar?</p>
            </div>

            <div id="accordion">
                <div name="acc1" class="borderAcc">
                    <h3>Aktivitas</h3>
                </div>
                <div name="cont1" class="accContent">
                    <p>Aktivitas keseharian saya dipenuhi dengan
                        belajar, main game, serta menikmati musik
                        selama perjalanan di kereta. Selain itu sekarang
                        saya sedang aktif dalam Biro Media BEM Fasilkom UI,
                        juga menjadi wali kelas SBF Media. 
                        <br>
                        <br>
                        Selama liburan, aktivitas favorit saya adalah tiduran,
                        scrolling sosmed sampai mata dan jempol sakit sambil
                        mendengarkan musik :(
                    </p>
                </div>
                
                <div name="acc2" class="borderAcc">
                    <h3>Pengalaman</h3>
                </div>
                <div name="cont2" class="accContent">
                    <h4>Organisasi</h4>
                    <ul>- Staff Biro Media BEM Fasilkom UI </ul>
                    <ul>- Staff Departemen Kominfo KMBUI</ul>
                    <ul>- Koordinator Bidang Kesehatan OSIS SMAK2 PENABUR Jakarta </ul>

                    <h4>Kepanitiaan</h4>
                    <ul>- Koordinator English Debate SMAK2 Cup 2017</ul>
                    <ul>- Staff TOEFL Educare 2019</ul>
                    <ul>- Staff Design Waisak KMBUI 2019</ul>
                    <ul>- Staff Software Engineering Academy COMPFEST 11 </ul>
                    <ul>- VPIC of Software Engineering Academy at COMPFEST 12</ul>
                </div>

                <div name="acc3" class="borderAcc">
                    <h3>Prestasi</h3>
                </div>
                <div name="cont3" class="accContent">
                    <ul>- Selama kuliah baru begadang 2 kali</ul>
                    <ul>- Bisa masuk Fasilkom UI UwU</ul>
                    <ul>- Mungkin Juara 1 tukang ngeluh di Quanta</ul>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'story7.js' %}"></script>
    </body>
</html>